My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "88abd5eb-9428-488a-91fb-67855701fcc9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-GtlnjkgQfQQTtAGlzlMd5zYRblQyRp149nBi4WKRCo",
          "mode": "list",
          "cachedResultName": "Scheduled_Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GtlnjkgQfQQTtAGlzlMd5zYRblQyRp149nBi4WKRCo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GtlnjkgQfQQTtAGlzlMd5zYRblQyRp149nBi4WKRCo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "todo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        0
      ],
      "id": "c0ae0951-0857-4ea1-ada3-b5a23987e9fc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4C4BqS8CGj16RnPH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e776060a-72c6-4459-be4c-037401c32a25",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c7b75415-5d39-4e93-965b-fc5b38454b61",
              "name": "job_title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            },
            {
              "id": "7d9bd744-7265-4c9d-8966-66c5d34b22e8",
              "name": "apply_link",
              "value": "={{ $json.apply_link }}",
              "type": "string"
            },
            {
              "id": "2222a518-1b09-4acb-bda7-96a8254bb414",
              "name": "scheduled_time",
              "value": "={{ $json.scheduled_time }}",
              "type": "string"
            },
            {
              "id": "f5a7b794-1883-43c8-a953-5d284f9cb9b8",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "65a30763-8838-4f35-9ee4-c9b5ec0f59bf",
              "name": "job_desc",
              "value": "={{ $json.job_desc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "e1bd6830-8f8b-464d-9102-80a790209a89",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bfa8bc9b-abc9-441b-a1ed-ea37d7460e0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "todo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3c38d155-481e-47a2-be3e-441ef3e4c003",
              "leftValue": "={{ $json.scheduled_time }}",
              "rightValue": "={{ $now }}\n",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "a6d3ae3c-3d89-42fc-a83e-8e8fa8cd61d8",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Viết bài đăng tuyển dụng Facebook dựa trên thông tin sau:\n\n- Vị trí công việc: {{ $('Edit Fields').item.json['job_title'] }}\n- Mô tả công việc: {{ $('Edit Fields').item.json['job_desc'] }}\n- Link ứng tuyển: {{ $('Edit Fields').item.json['apply_link'] }}\n\nYêu cầu:\n- Ngắn gọn, dễ đọc\n- Có emoji\n- Có CTA kêu gọi ứng tuyển\n- Phù hợp đăng Facebook\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        688,
        -16
      ],
      "id": "709dde71-334e-4f62-b992-fb530411447b",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "2Tbb8ppEtomJEQ5H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd144048-d6bf-483e-9612-7e287313b90c",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -16
      ],
      "id": "ecdfd62f-79a5-418a-930f-76743bdb0a94",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/962307496958612/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAPwSGp1w7sBQSa0Wknugym8WZAC6k3jHdvJAZAZBlmn6S9ToZCQbvaP4JODBOTGBWGamoDU2oOJJGL6tWGjbYyoWmPXMHojhT0AZBeIftCiJER0BgB0ZBsTwKtZAdXeFdLZCf5KIqQwLDFOflNdGzPcJQIV76NhMmw03srYclrJTajNZB5M3sjx9Megffyqc5xkyb8s3iWLybbmZA1opivYAAqunls4oDDOt9sh0gLgS9M00ZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -16
      ],
      "id": "ef853ba2-e824-43d6-be45-670977badff4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-GtlnjkgQfQQTtAGlzlMd5zYRblQyRp149nBi4WKRCo",
          "mode": "list",
          "cachedResultName": "Scheduled_Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GtlnjkgQfQQTtAGlzlMd5zYRblQyRp149nBi4WKRCo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GtlnjkgQfQQTtAGlzlMd5zYRblQyRp149nBi4WKRCo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "done",
            "id": "={{ $('If').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_desc",
              "displayName": "job_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_time",
              "displayName": "posted_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publish",
              "displayName": "publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -16
      ],
      "id": "c66fd457-0906-436c-889c-2716a8f8669e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4C4BqS8CGj16RnPH",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7093edef-1897-43ce-a0ed-e6a94e88badd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ed89cf84b07f9961a6dd765ab7087d6d6dc2cad1b5fcd0057456be96ffac491"
  },
  "id": "cMLVCfyzyK3NxPB3",
  "tags": []
}